<div class="memberCardContainer">
    <div class="memberCardContent">
        <label class="memberCardGrade">Professor</label>
        <label class="memberCardTeam">Team</label>
        <img class="memberCardPic" src="../HCSS/IMG_1177.jpg"/>
        
        <div class="memberCardInfoContainer">
            <label class="memberCardName">@member.LastName @member.FirstName </label>
            <label class="memberCardEmail">Example@Gamil.com</label>
            <label class="memberCardNumber">0550493049</label>
        </div>
        
        <div class="memberCardNicContainer">
            <label class="memberCardNic">Nic : 0555904594</label> 
        </div>
       
    </div>
</div>

